@tailwind base;
@tailwind components;
@tailwind utilities;

.signin-btn{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.signin-btn > * {
    margin: 5.5rem auto;
}

.send-btn{
   position: absolute;
   right: 10px;
   bottom: 15px;
   z-index: 2;
   color: #ffff;
   background-color: #1976d2;
   /* background-color: #1565c0; */
   padding: 10px;
   width: 80px;
   font-size: 18px;
   font-weight: 600;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.display-mssg{
    height: calc( 100vh - 22vh);
    margin-top: 74px;
    overflow-y: auto;
}

.body{
    /* margin-left: none; */
    width: fit-content;
    padding: 2px;
}

/* .mssg-container{
    flex-direction: row-reverse;
} */

.edit-del{
    position: absolute;
    top: 40px;
    z-index: 2;
    width: 4rem;
    text-align: center;
    /* display: none; */
}

.edit-del > * {
    border: 1px solid #eddcdc;
    border-radius: 8px;
    padding: 2px;
    margin: 2px;
    background-color: #eddcdc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}
